.project{
    padding-block-start: 40px;
  padding-block-end: 40px;
}
.project-title {
   background-color: var(--purple);
   align-self: flex-start;
   color: var(--white);
   font: var(--headLine5);
   padding-block-start: 4px;
   padding-block-end: 4px;
   padding-inline-end: 8px;
   padding-inline-start: 8px;
   margin-inline-start: 4px;
   box-shadow: -4px 4px 0 var(--white);
   text-decoration: none;
}

.project-image img {
  max-inline-size: 100%;
}
.project-description {
   display: flex;
   flex-direction: column;
   gap: 16px;
}
@media screen and (min-width: 768px) {
   .project {
      display: flex;
      align-items: center;
      gap: 32px;
      padding-block-start: 80px;
      padding-block-end: 80px;
   }
   .project-description {
      flex: 1;
   }
   .project-description.project-image {
      order: 1;
      flex: 1;
      text-align: center;
   }
}
